<div class="row">
    <div class="col-xs-12 col-sn-4">
        <div class="list-group">
            <!-- <a [routerLink]="['/servers', item.id ,'edit']" [queryParams]="{allowEdit: '1'}" fragment="loading" class="list-group-item" *ngFor="let item of servers">{{item.name}}</a> -->
            <a [routerLink]="['/servers', item.id ]" [queryParams]="{allowEdit: '1'}" fragment="loading" class="list-group-item" *ngFor="let item of servers">{{item.name}}</a>
        </div>
    </div>
    <div class="col-xs-12 col-sn-4">
        <router-outlet></router-outlet>
        <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
        <app-edit-server></app-edit-server>
        <hr>
        <app-server></app-server> -->
    </div>

</div>
